<!--========================================= Código HTML del Login ===============================================-->

<!--===============================================================================================================-->
<!-- Contenedor del fondo que abarca toda la pantalla y centra en horizontal ======================================-->
<!--===============================================================================================================-->
<div class="fondo-login">
    <auth></auth>
</div>