<div class="row g-2">
    <div class="col-12 col-md-12">
        <div class="card card-body h-100">
            <div class="d-flex justify-content-between">
                <h5 class="card-title mb-3">Information</h5>
            </div>
            <div class="row g-2">
                <div class="col-12 col-sm-6 col-md-2">
                    <label class="form-label">Lease Code</label>
                    <input class="form-control" type="text" [value]="(contrato.id | number: '5.0-0') | code" readonly>
                </div>
                <div class="col-12 col-sm-6 col-md-5">
                    <label class="form-label">Property</label>
                    <div class="d-grid gap-2">
                        <div
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class=" d-flex flex-column">
                                <p class="card-text mb-1 fw-bold">{{contrato.propiedad.tipo.tipo}}</p>
                                <p class="card-text mb-0 fst-italic">{{contrato.propiedad.direccion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-5">
                    <label class="form-label">Customer</label>
                    <div class="d-grid gap-2">
                        <div
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class=" d-flex flex-column">
                                <p class="card-text mb-1 fw-bold">{{contrato.cliente.cliente}}</p>
                                <p class="card-text mb-0 fst-italic">Saldo: {{contrato.cliente.saldo | currency}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <label class="form-label">Type</label>
                    <div class="d-grid gap-2">
                        <div
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class=" d-flex flex-column">
                                <p class="card-text mb-1 fw-bold">{{contrato.tipo.nombre}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <label class="form-label">Amount</label>
                    <h3>{{ contrato.monto | currency }}</h3>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <label class="form-label">Period</label>
                    <h5 class="mt-2">
                        {{ contrato.fechaInicio | date: 'mediumDate'}}
                        -
                        {{ contrato.fechaTermino | date: 'mediumDate' }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="card card-body">
            <h5 class="card-title mb-3 w-100">Tickets</h5>
            <div class="table-responsive" style="overflow-y: scroll"
                [ngStyle]="{'max-width': (width > 576 && width < 720) ? ( width - 120) + 'px' : 'none', 'height': (height - 410) + 'px'}">
                <table class="table table-striped table-bordered text-center mt-3">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col">Ticket</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody [ngStyle]="{ 'max-height' : height/3+'px' }" class="contenedor">
                        <tr *ngFor="let ticket of contrato.tickets; let i=index">
                            <td>
                                #{{ticket.id}}
                            </td>
                            <td>{{ticket.descripcion}}</td>
                            <td>{{ticket.monto | currency}}</td>
                            <td>{{ticket.fechaSolicitud | date: 'mediumDate'}}</td>
                            <td>{{ticket.estatus}}</td>
                            <td>
                                <textarea [(ngModel)]="ticket.observacion" class="form-control"></textarea>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-outline-secondary" (click)="saveComment(i)">
                                        <i class="fas fa-save"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" (click)="cambiarEstatus(i, true)"
                                        *ngIf="ticket.estado == 1">
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" (click)="cambiarEstatus(i, false)"
                                        *ngIf="ticket.estado == 1">
                                        <i class="fas fa-thumbs-down"></i>
                                    </button>
                                </div>
                                <!-- <button type="button"
                                        class="btn btn-danger btn-sm d-flex justify-content-center align-items-center mx-auto"
                                        (click)="removeTicket(i)">
                                        <i class="fas fa-times me-2 my-auto"></i>
                                        Quit
                                    </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>