<!--================================-->
<!--Modal Agregar propiedad ========-->
<!--================================-->
<div class="modal fade" id="addHouseModal" tabindex="-1" aria-labelledby="addHouseModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <form class="modal-content" [formGroup]="formularioAddPropiedad" (ngSubmit)="agregarPropiedad()">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="reiniciarModals()"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-3">
                    <div class="mb-3 col-12 col-md-6">
                        <label for="descriptionInput" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="descriptionInput" placeholder="Description"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'descripcion')"
                            formControlName="descripcion"></textarea>
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'descripcion')">
                            this field is required (between 50 and 2000 characters)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="addressInput" class="form-label">Address</label>
                        <input type="text" class="form-control" id="addressInput" placeholder="Address"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'direccion')"
                            formControlName="direccion">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'direccion')">
                            this field is required (max 200 characters)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="stateInput" class="form-label">State</label>
                        <input type="text" class="form-control" id="statesInput" placeholder="State"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'estado')" formControlName="estado">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'estado')">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="cpInput" class="form-label">Zip Code</label>
                        <input type="number" class="form-control" id="cpInput" placeholder="Zip Code"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'cp')" formControlName="cp">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'cp')">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="numberInput" class="form-label">Number</label>
                        <input type="text" class="form-control" id="numberInput" placeholder="Number"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'numeroExterior')"
                            formControlName="numeroExterior">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'numeroExterior')">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3" formGroupName="tipo">
                        <label for="typeSelector" class="form-label">Type</label>
                        <select class="form-select" aria-label="Default select example" formControlName="id"
                            id="typeSelector">
                            <option [value]="tipo.id" *ngFor="let tipo of tipos">{{tipo.tipo|titlecase}}</option>
                        </select>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="lengthInput" class="form-label">Sale price</label>
                        <input type="number" class="form-control" id="lengthInput" placeholder="Length (ft)"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'venta')" formControlName="venta" min="1"
                            max="50000">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'venta')">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="widthInput" class="form-label">Rent price</label>
                        <input type="number" class="form-control" id="widthInput" placeholder="Width (ft)"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'renta')" formControlName="renta">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'renta')">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="builtInput" class="form-label">Built area (sqtf)</label>
                        <input type="number" class="form-control" id="builtInput" placeholder="Built area (sqtf)"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'terreno')" formControlName="terreno">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'terreno')">
                            this field is required (between 1 and 50000)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="totalInput" class="form-label">Total area (sqft)</label>
                        <input type="number" class="form-control" id="totalInput" placeholder="Total area (sqft)"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'terrenoConstruido')"
                            formControlName="terrenoConstruido">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'terrenoConstruido')">
                            Insert number between 0 and 50000
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="floorsInput" class="form-label">Number of floors</label>
                        <input type="number" class="form-control" id="floorsInput" placeholder="Number of floors"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'noPisos')" formControlName="noPisos">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'noPisos')">
                            this field is required (between 1 and 10)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="pisoInput" class="form-label">Unit level</label>
                        <input type="number" class="form-control" id="pisoInput" placeholder="Floor"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'piso')" formControlName="piso">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'piso')">
                            this field is required (between 1 and 500)
                        </div>
                        <div id="floorHelp" class="form-text" *ngIf="!isValid(formularioAddPropiedad,'piso')">What floor
                            is the apartment on?</div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="roomsInput" class="form-label">Number of rooms</label>
                        <input type="number" class="form-control" id="roomsInput" placeholder="Number of rooms"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'habitaciones')"
                            formControlName="habitaciones">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'habitaciones')">
                            this field is required (between 1 and 10)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="roomsInput" class="form-label">Number of bedrooms</label>
                        <input type="number" class="form-control" id="roomsInput" placeholder="Number of bedrooms"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'recamaras')"
                            formControlName="recamaras">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'recamaras')">
                            this field is required (between 1 and 30)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="parkingInput" class="form-label">Number of parking spaces</label>
                        <input type="number" class="form-control" id="parkingInput"
                            placeholder="Number of parking spaces"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'estacionamientos')"
                            formControlName="estacionamientos">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'estacionamientos')">
                            this field is required (between 0 and 10)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="bathroomsInput" class="form-label">Number of bathrooms</label>
                        <input type="number" class="form-control" id="bathroomsInput" placeholder="Number of bathrooms"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'banos')" formControlName="banos">
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'banos')">
                            this field is required (between 1 and 10)
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3">
                        <label for="formFileMultiple" class="form-label">Select images</label>
                        <input class="form-control" (change)="seleccionarFotos($event)" type="file"
                            id="formFileMultiple" multiple>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3" formGroupName="aseguradora">
                        <label for="insurerSelector" class="form-label">Insurer</label>
                        <select class="form-select" aria-label="Default select example" formControlName="id"
                            id="insurerSelector" (change)="getInfoAseguradora()"
                            [class.is-invalid]="isValid(formularioAddPropiedad,'aseguradora')">
                            <option value="0">Select</option>
                            <option [value]="aseguradora.id" *ngFor="let aseguradora of aseguradoras">
                                {{aseguradora.nombre|titlecase}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="isValid(formularioAddPropiedad,'aseguradora')">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12 col-sm-6 col-md-3" *ngIf="infoAseguradora">
                        <i class="fas fa-globe mr-3"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a [href]="infoAseguradora.paginaWeb"
                            target="_blank" rel="noopener noreferrer">{{ infoAseguradora.paginaWeb }}</a><br>
                        <i class="fas fa-user-tie"></i> {{ infoAseguradora.nombreContacto}}, {{
                        infoAseguradora.telefonoContacto}}
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12 col-sm-6 col-md-3 d-flex"
                            *ngFor="let image of imagenesActualesBase64; let i = index">
                            <div class="col-11">
                                <img class="img-fluid" [src]="image.image | domSeguro">
                            </div>
                            <button type="button" class="mb-auto"
                                style="border: transparent; background-color: transparent; margin-left: -5%; margin-top: -3%;"
                                (click)="borrarFotoFromServer(image.id, i)">
                                <i class="fas fa-times-circle fa-2x bg-white"
                                    style=" cursor: pointer; border-radius: 200px; display: inline-flex;"></i>
                            </button>
                        </div>
                        <div class="mb-3 col-12 col-sm-6 col-md-3 d-flex"
                            *ngFor="let image of fotosMostrar; let i = index">
                            <div class="col-11">
                                <img class="img-fluid" [src]="('data:image/png;base64, ' + image) | domSeguro">
                            </div>
                            <button type="button" class="mb-auto"
                                style="border: transparent; background-color: transparent; margin-left: -5%; margin-top: -3%;"
                                (click)="borrarFoto(i)">
                                <i class="fas fa-times-circle fa-2x bg-white"
                                    style=" cursor: pointer; border-radius: 200px; display: inline-flex;"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3 row" formArrayName="productos">
                        <ng-container *ngFor="let control of productosPropiedades.controls; let i=index"
                            [formGroupName]="i">
                            <div class="mb-3 col-12 col-sm-6 col-md-4 d-flex">
                                <input type="text" class="form-control" id="bathroomsInput"
                                    placeholder="Name of product" formControlName="producto">
                            </div>
                            <div class="mb-3 col-12 col-sm-6 col-md-4 d-flex">
                                <input type="number" class="form-control" id="bathroomsInput" placeholder="Price"
                                    formControlName="precio">
                            </div>
                            <div class="mb-3 col-12 col-sm-6 col-md-4 d-flex" formGroupName="tipo">
                                <select class="form-select" aria-label="Default select example" formControlName="id">
                                    <option [value]="tipo.id" *ngFor="let tipo of tiposProductos">
                                        {{tipo.tipo|titlecase}}</option>
                                </select>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal"
                    (click)="reiniciarModals()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<button class="btn btn-outline-secondary d-none" data-bs-toggle="modal" data-bs-target="#PropertyTaxesModal"
    id="openImpuestosModal"></button>
<app-casas-impuestos [impuestos]="propiedadImpuestos" [idPropiedad]="idPropiedad"></app-casas-impuestos>

<button class="btn btn-outline-secondary d-none" data-bs-toggle="modal" data-bs-target="#ArchivesModal"
    id="openArchivosModal"></button>
<app-archivos [archivos]="documentacion" (uploadFiles)="subirArchivos($event)"></app-archivos>

<div class="row g-2 mx-1">
    <div class="card card-body col-12" [ngStyle]="{'max-width': (width >= 576) ? width - 95 + 'px' : 'none'}">
        <div class="d-flex justify-content-between">
            <ul class="nav nav-tabs mb-3 w-100">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/catalogs', 'products']" [routerLinkActive]="'active'">Products
                        and Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/catalogs', 'houses']" [routerLinkActive]="'active'">Houses</a>
                </li>
                <li class="ms-auto">
                    <button class="btn btn-outline-secondary btn-sm" title="Add" data-bs-toggle="modal"
                        data-bs-target="#addHouseModal" id="addButton">
                        <i class="fas fa-plus"></i>
                    </button>
                </li>
            </ul>

        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Adress</th>
                        <th scope="col">Description</th>
                        <th scope="col">Floors</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody [ngStyle]="{ 'max-height' : height/3*2+'px' }" class="contenedor">
                    <tr *ngFor="let propiedad of propiedades; let i=index">
                        <th scope="row">{{ propiedad.tipo.tipo | titlecase }}</th>
                        <td>{{ (propiedad.numeroExterior | titlecase) + ' ' + (propiedad.direccion | titlecase)
                            + ',' + (propiedad.estado | titlecase)
                            + ' ' + (propiedad.cp | titlecase) + ', ' + (propiedad.pais | titlecase)}}</td>
                        <td>
                            {{ propiedad.descripcion | cutText: propiedad.cortarDetalle }}
                            <button class="btn btn-sm btn-outline-primary w-100 py-0 mt-2"
                                [ngClass]="{'btn-outline-secondary': !propiedad.cortarDetalle}"
                                (click)="propiedad.cortarDetalle = !propiedad.cortarDetalle">
                                {{propiedad.cortarDetalle ? 'Show more' : 'Show less'}}
                            </button>
                        </td>
                        <td>{{ propiedad.noPisos }}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm" title="Update"
                                (click)="modificarPropiedad(i)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-outline-secondary btn-sm" title="Property Taxes"
                                (click)="prepararImpuestosModal(i)">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </button>
                            <button class="btn btn-outline-secondary btn-sm" title="Property Documents"
                                (click)="documentosModal(i)">
                                <i class="fas fa-folder-open"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>