<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" [formGroup]="formularioBanco" (ngSubmit)="agregarBanco()">
            <div class="modal-header">
                <h5 class="modal-title" id="addTypeLabel">Add Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="reiniciarModals()"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-3">
                    <div class="mb-3 col-12">
                        <label class="form-label">Bank</label>
                        <input type="text" class="form-control" placeholder="Bank"
                            [class.is-invalid]="isValid(formularioBanco,'banco')" formControlName="banco">
                        <div class="invalid-feedback" *ngIf="isValid(formularioBanco,'banco')">
                            this field is required (Max 200 characters)
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Account</label>
                        <input type="number" class="form-control" placeholder="Account"
                            [class.is-invalid]="isValid(formularioBanco,'cuenta')" formControlName="cuenta">
                        <div class="invalid-feedback" *ngIf="isValid(formularioBanco,'cuenta')">
                            this field is required (Min 6 Characters)
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Initial balance</label>
                        <input type="number" class="form-control" iplaceholder="Initial balance"
                            [class.is-invalid]="isValid(formularioBanco,'saldo')" formControlName="saldo">
                        <div class="invalid-feedback" *ngIf="isValid(formularioBanco,'saldo')">
                            this field is requireds (Positive balance)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal"
                    (click)="reiniciarModals()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="addMovimiento" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" [formGroup]="formularioDeposito" (ngSubmit)="agregarDeposito()">
            <div class="modal-header">
                <h5 class="modal-title" id="addTypeLabel">Add Deposit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="reiniciarModals()"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-3">
                    <div class="mb-3 col-12">
                        <label class="form-label">Select Bank</label>
                        <div class="dropdown">
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-university me-2"></i>
                                    {{formularioDeposito.get('banco')?.get('banco')?.value}}
                                </button>

                                <ul class="dropdown-menu w-100 p-0" aria-labelledby="dropdownMenuLink">
                                    <li role="button" *ngFor="let banco of bancos; let i=index" (click)="selectBanco(i)"
                                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                        <div class=" d-flex flex-column">
                                            <p class="card-text mb-1 fw-bold">{{banco.banco}}</p>
                                            <p class="card-text mb-0 fst-italic">Saldo: {{banco.saldo | currency}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Select Customer</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {{formularioDeposito.get('cliente')?.get('cliente')?.value}}
                            </button>

                            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                <li role="button" *ngFor="let cliente of clientes; let i = index"
                                    (click)="selectCliente(i)"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class=" d-flex flex-column">
                                        <p class="card-text mb-1 fw-bold">{{cliente.cliente}}</p>
                                        <p class="card-text mb-0 fst-italic">Saldo: {{cliente.saldo | currency}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 col-12" *ngIf="clienteSeleccionado.contratos.length">
                        <label class="form-label">Select Property</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                {{formularioDeposito.get('propiedad')?.get('tipo')?.get('tipo')?.value}}
                            </button>
                            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                <li role="button" *ngFor="let contrato of clienteSeleccionado.contratos; let i = index"
                                    (click)="selectPropiedad(i)"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class=" d-flex flex-column">
                                        <p class="card-text mb-1 fw-bold">{{contrato.propiedad.tipo.tipo}}</p>
                                        <p class="card-text mb-0 fst-italic">{{contrato.propiedad.direccion}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Date</label>
                        <input class="form-control" placeholder="Select a Date" angular-mydatepicker
                            formControlName="datepicker" [options]="myOptions"
                            [class.is-invalid]="isValid(formularioDeposito,'fechaTransient')" #dp_deposito="angular-mydatepicker"
                            (click)="toggleCalendar(myDpDeposito)" (dateChanged)="seleccionarFechas($event, formularioDeposito)"/>
                        <div class="invalid-feedback">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Amount</label>
                        <input type="number" class="form-control"
                            [class.is-invalid]="isValid(formularioDeposito,'monto')" formControlName="monto">
                        <div class="invalid-feedback" *ngIf="isValid(formularioDeposito,'monto')">
                            this field is requireds (Positive balance)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalDeposito"
                    (click)="reiniciarModals()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="addPago" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" [formGroup]="formularioPago" (ngSubmit)="agregarPago()">
            <div class="modal-header">
                <h5 class="modal-title" id="addTypeLabel">Add Pay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="reiniciarModals()"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-3">
                    <div class="mb-3 col-12">
                        <label class="form-label">Select Bank</label>
                        <div class="dropdown">
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-university me-2"></i>
                                    {{formularioPago.get('banco')?.get('banco')?.value}}
                                </button>

                                <ul class="dropdown-menu w-100 p-0" aria-labelledby="dropdownMenuLink">
                                    <li role="button" *ngFor="let banco of bancos; let i=index" (click)="selectBanco(i)"
                                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                        <div class=" d-flex flex-column">
                                            <p class="card-text mb-1 fw-bold">{{banco.banco}}</p>
                                            <p class="card-text mb-0 fst-italic">Saldo: {{banco.saldo | currency}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Select Supplier</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {{formularioPago.get('provider')?.get('proveedor')?.value}}
                            </button>

                            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                <li role="button" *ngFor="let proveedor of proveedores; let i = index"
                                    (click)="selectProveedor(i)"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class=" d-flex flex-column">
                                        <p class="card-text mb-1 fw-bold">{{proveedor.proveedor}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Select Account</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-file-invoice-dollar"></i>
                                {{formularioPago.get('account')?.get('cuenta')?.value}}
                            </button>

                            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                <li role="button" *ngFor="let cuenta of cuentas; let i = index"
                                    (click)="selectCuenta(i)"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class=" d-flex flex-column">
                                        <p class="card-text mb-1 fw-bold">{{cuenta.cuenta}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Is related to a property? Select Property</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                {{formularioPago.get('propiedad')?.get('tipo')?.get('tipo')?.value}}
                            </button>
                            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                <li role="button" *ngFor="let contrato of contratos; let i = index"
                                    (click)="selectPropiedad(i)"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class=" d-flex flex-column">
                                        <p class="card-text mb-1 fw-bold">{{contrato.propiedad.tipo.tipo}}</p>
                                        <p class="card-text mb-0 fst-italic">{{contrato.propiedad.direccion}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Date</label>
                        <input class="form-control" placeholder="Select a Date" angular-mydatepicker
                            formControlName="datepicker" [options]="myOptions"
                            [class.is-invalid]="isValid(formularioPago,'fechaTransient')" #dp_pago="angular-mydatepicker"
                            (click)="toggleCalendar(myDpPago)" (dateChanged)="seleccionarFechas($event, formularioPago)"/>
                        <div class="invalid-feedback">
                            this field is required
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Amount</label>
                        <input type="number" class="form-control" [class.is-invalid]="isValid(formularioPago,'monto')"
                            formControlName="monto">
                        <div class="invalid-feedback" *ngIf="isValid(formularioPago,'monto')">
                            this field is requireds (Positive balance)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalPago"
                    (click)="reiniciarModals()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<button class="d-none" data-bs-toggle="modal" data-bs-target="#visualizarPago" id="openVisualizarPago"></button>
<div class="modal fade" id="visualizarPago" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTypeLabel">Update Account For Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeVisualizarPago"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-3">
                    <div class="mb-3 col-12">
                        <label class="form-label">Bank: {{pagoSeleccionado?.banco}}</label>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Supplier: {{pagoSeleccionado?.proveedor}}</label>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Select Account</label>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-file-invoice-dollar"></i>
                                {{pagoSeleccionado?.account?.cuenta}}
                            </button>

                            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                <li role="button" *ngFor="let cuenta of cuentasPagoSeleccionado; let i = index"
                                    (click)="selectCuentaPagoSeleccionado(i)"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class=" d-flex flex-column">
                                        <p class="card-text mb-1 fw-bold">{{cuenta.cuenta}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Date: {{pagoSeleccionado?.fecha.split('T')[0]}}</label>
                    </div>
                    <div class="mb-3 col-12">
                        <label class="form-label">Amount: {{pagoSeleccionado?.monto | currency}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalPago">Close</button>
                <button type="button" class="btn btn-primary" (click)="actualizarPago()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    <app-sidebar #sideBar></app-sidebar>
    <app-navbar (sideBar)="openSideBar()" [nombreModulo]="'Banks'"></app-navbar>
    <div class="container-fluid">
        <div style="height: 50px;" class="mb-2"></div>
        <div class="row g-2">
            <div class="col-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title mb-3">Active Banks</h5>
                            <div class="ms-auto">
                                <button class="btn btn-outline-secondary btn-sm" title="Add" data-bs-toggle="modal"
                                    data-bs-target="#addModal" id="addButton">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div style="overflow: scroll">
                            <table class="table table-striped table-bordered text-center">
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th scope="col">Code</th>
                                        <th scope="col">Bank</th>
                                        <th scope="col">Account</th>
                                        <th scope="col">Balance</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody [ngStyle]="{ 'max-height' : height/3+'px' }" class="contenedor">
                                    <tr *ngFor="let banco of bancos; let i=index">
                                        <td>{{(banco.id | number: '4.0-0') | code}}</td>
                                        <td>{{banco.banco}}</td>
                                        <td>{{banco.cuenta}}</td>
                                        <td>{{banco.saldo | currency}}</td>
                                        <td class="justify-content-evenly d-flex justify-content-md-center">
                                            <button class="btn btn-sm btn-outline-primary me-2" type="button"
                                                title="update" (click)="prepararUpdate(i)">
                                                <i class="fas fa-pen"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger me-2" type="button"
                                                title="inactivate" (click)="borrarBanco(i)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-secondary" type="button"
                                                (click)="getMovimientos(banco.id)">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-body h-100">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-3">Deposits</h4>
                        <div class="ms-auto">
                            <button class="btn btn-outline-secondary btn-sm" title="Add" data-bs-toggle="modal"
                                data-bs-target="#addMovimiento" id="addButton" (click)="getClientesOrProveedores()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-bottom"
                            role="button" *ngFor="let deposito of depositos; let i=index"
                            >
                        <!-- <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-bottom"
                            role="button" *ngFor="let deposito of depositos; let i=index"
                            [routerLink]="['/treasury','deposits',deposito.id]"
                            > -->
                            <div class="w-50 d-flex flex-column">
                                <h5>{{deposito.cliente.cliente}}</h5>
                                <small class="text-muted">{{deposito.fecha | date: 'mediumDate'}}</small>
                            </div>
                            <div class="d-flex flex-column ms-auto">
                                <div class="fs-4 text-success text-end">
                                    + {{deposito.monto | currency}}
                                </div>
                                <small class="text-black bg-black text-end">{{deposito.banco}}</small>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <button class="btn btn-sm btn-outline-danger me-2" type="button"
                                    title="inactivate" (click)="borrarDeposito(i)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-body h-100">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-3">Payments</h4>
                        <div class="ms-auto">
                            <button class="btn btn-outline-secondary btn-sm" title="Add" data-bs-toggle="modal"
                                data-bs-target="#addPago" id="addButton" (click)="getClientesOrProveedores(false)">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-bottom"
                            role="button" *ngFor="let pago of pagos; let i=index" [ngClass]="{'bg-warning': !pago.cuentaContable}">
                            <div class="w-50 d-flex flex-column" (click)="visualizarPago(i)">
                                <h5 class="mb-1">{{pago.proveedor}}</h5>
                                <p class="mb-0 text-muted">{{pago.fecha | date: 'mediumDate'}}</p>
                                <small class="fst-italic">Accounting: {{pago.cuentaContable}}</small>
                            </div>
                            <div class="d-flex flex-column ms-auto" (click)="visualizarPago(i)">
                                <div class="fs-4 text-danger text-end">
                                    - {{pago.monto | currency}}
                                </div>
                                <small class="text-black text-end">{{pago.banco}}</small>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <button class="btn btn-sm btn-outline-danger me-2" type="button"
                                    title="inactivate" (click)="borrarPago(i)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>