<div class="modal fade" id="PropertyTaxesModal" tabindex="-1" aria-labelledby="PropertyTaxesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="propertyTaxesModalLabel">Property Taxes</h5>
                <button id="closeImpuestosModal" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-3">
                    <div class="table-responsive">
                        <table class="table table-dark table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">#ID</th>
                                    <th scope="col">Entity</th>
                                    <th scope="col">Website</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let impuesto of impuestos; let i = index">
                                    <th>{{ i + 1 }} </th>
                                    <th>{{ impuesto.tipo }}</th>
                                    <th>{{ impuesto.identificador }}</th>
                                    <th>{{ impuesto.entidad }}</th>
                                    <th class="d-flex justify-content-around">
                                        <a [href]="'http://'+impuesto.paginaWeb" target="_blank"
                                            rel="noopener noreferrer">{{impuesto.paginaWeb}}</a>
                                        <button class="btn btn-sm btn-outline-danger" type="button" title="Delete"
                                            (click)="eliminarImpuesto(impuesto, i)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form [formGroup]="formularioAddImpuesto" (ngSubmit)="agregarImpuesto()" autocomplete="off">
                <div class="modal-footer">
                    <div class="row">
                        <div class="mb-3 col-6 col-sm-6 col-md-4">
                            <label for="tipoInput" class="form-label">Type</label>
                            <input type="text" class="form-control" id="tipoInput" placeholder="Type"
                                [class.is-invalid]="isValid(formularioAddImpuesto,'tipo')" formControlName="tipo">
                            <div class="invalid-feedback">
                                this field is required
                            </div>
                        </div>
                        <div class="mb-3 col-6 col-sm-6 col-md-4">
                            <label for="identificadorInput" class="form-label">#ID</label>
                            <input type="text" class="form-control" id="identificadorInput" placeholder="Property ID"
                                [class.is-invalid]="isValid(formularioAddImpuesto,'identificador')"
                                formControlName="identificador">
                            <div class="invalid-feedback">
                                this field is required
                            </div>
                        </div>
                        <div class="mb-3 col-6 col-sm-6 col-md-4">
                            <label for="entidadInput" class="form-label">Entity</label>
                            <input type="text" class="form-control" id="entidadInput" placeholder="Entity"
                                [class.is-invalid]="isValid(formularioAddImpuesto,'entidad')" formControlName="entidad">
                            <div class="invalid-feedback">
                                this field is required
                            </div>
                        </div>
                        <div class="mb-3 col-6 col-sm-6 col-md-4">
                            <label for="websiteInput" class="form-label">Website</label>
                            <input type="text" class="form-control" id="websiteInput" placeholder="Website"
                                [class.is-invalid]="isValid(formularioAddImpuesto,'paginaWeb')"
                                formControlName="paginaWeb">
                            <div class="invalid-feedback">
                                this field is required
                            </div>
                        </div>
                        <div class="mb-3 col-6">
                            <br>
                            <button type="submit" class="btn btn-outline-secondary btn-lg">
                                Save <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>